@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  background-color: #e5e5e5;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 70vw;
  background-color: #fff;
  border: 1px solid #bebebe;
}

.header {
  display: flex;
  padding: 0.8em;
  justify-content: space-between;
}

.add-task {
  border: none;
  width: 80%;
}

h3 {
  margin: 0;
  font-weight: 400;
}

.refresh {
  font-size: 1em;
  color: #e5e5e5;
  align-self: center;
  cursor: pointer;
}

.remove {
  background-color: #f7f5f5;
  text-align: center;
  border: none;
  height: 4em;
  color: #757272;
  font-size: 0.9em;
}

.form {
  padding: 0;
  margin: 0;
  gap: 0;
}

.add-task-div {
  display: flex;
  padding: 0.8em;
  justify-content: space-between;
  border-top: 1px #e5e5e5 solid;
}

.add-task-div > button {
  border: none;
  background: none;
}

.enter {
  color: #e5e5e5;
}

.to-do {
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.to-do > li {
  display: flex;
  justify-content: space-between;
  border: 1px #e5e5e5 solid;
  padding: 0.8em;
}

.to-do > li > div {
  width: 100%;
}

.fa-ellipsis-v {
  color: #e5e5e5;
  font-size: 1rem;
}

.fa-trash-o {
  color: #e5e5e5;
  font-size: 1rem;
  display: none;
}

.desc {
  border: none;
}

.input-div {
  display: flex;
}

input[type='checkbox']:checked ~ input {
  color: red;
  text-decoration: line-through;
}
